.blog-details-img img{
	width:100%;
}
.blog-details-loca{
	color: #ffffff;
    position: absolute;
    text-align: center;
	padding:5%;
	margin-left: 28%;
}
.blog-details-loca h4{
    font-weight: bold;
}
.blog-details-loca h1{
    font-weight: bold;
	font-size: 55px;
}
.more-details-img{
	display: flex;
}
.more-details-img img {
	height: 450px;
    width: 100%;
	margin-top: 70px;
	background-color: #f3f3f3;
}
.blog-details-date {
    margin-top: 35px;
}
.blog-details-question {
    margin-top: 40px;
	font-weight: bold;
}
.blog-details-answer1 {
    margin-top: 35px;
}
.blog-details-answer2 {
    margin-top: 35px;
}
.blog-details-content {
    margin-bottom: 65px;
}
.blog-details-content h5{
	font-weight:normal;
}
@media screen and (max-width:1310px){
	
	.blog-details-loca {
		margin-left: 15%;
	}
	.recent-post {
		width: 75%;
	}
	
}
@media screen and (max-width:1280px){
	
	.blog-details-img img {
		height: 200px;
	}
	.recent-post {
		width: 100%;
	}
	
}
@media screen and (max-width:1082px){
	
	.recent-head {
		font-size: 22px;
	}
	
}
@media screen and (max-width:980px){
	
	.blog-details-loca h1 {
		font-size: 50px;
	}
	.blog-details-loca {
		margin-left: 10%;
	}
	.more-details-img img {
		height: 400px;
	}
	.blog-details-date {
		margin-top: 20px;
	}
	.blog-details-question {
		margin-top: 25px;
	}
	.blog-details-answer1 {
		margin-top: 20px;
	}
	.blog-details-answer2 {
		margin-top: 20px;
	}
	
}
@media screen and (max-width:880px){
	
	.blog-details-loca h1 {
		font-size: 45px;
	}
	.blog-details-loca {
		margin-left: 8%;
	}
	.recent-head {
		margin-left: 30px;
	}
	.recent-post {
		width: 98%;
	}
	
}
@media screen and (max-width:800px){
	
	
	.blog-details-content {
		margin-bottom: 0;
	}
	.blog-details-loca h1 {
		font-size: 40px;
	}
	.recent-head {
		width: 95%;
	}
	
}
@media screen and (max-width:768px){
	
	.recent-post {
		width: 43%;
	}
	.blog-details-loca {
		margin-left: 7%;
	}
	
}
@media screen and (max-width:668px){
	
	.blog-details-loca h1 {
		font-size: 38px;
	}
	.blog-details-loca {
		margin-left: 4%;
	}
	.blog-details-loca h4 {
		font-size: 16px;
	}
	
}
@media screen and (max-width:568px){
	
	.blog-details-loca h1 {
		font-size: 34px;
	}
	.blog-details-loca {
		margin-left: 2%;
	}
	.recent-head {
		margin-left: 15px;
	}
	.recent-post {
		width: 41%;
	}
	.blog-details-img img {
		height: 150px;
	}
	
}
@media screen and (max-width:468px){
	
	.recent-question {
		font-size: 14px;
	}
	.blog-details-loca h1 {
		font-size: 28px;
	}
	.blog-details-content h5 {
		text-align: justify;
	}
	.more-details-img img {
		height: 300px;
	}
	
}
@media screen and (max-width:375px){
	
	.blog-details-loca h1 {
		font-size: 23px;
	}
	.blog-details-question {
		font-size: 22px;
	}
	.recent-post {
		width: 40%;
	}
	.recent-question {
		font-size: 13px;
	}
	
}
@media screen and (max-width:360px){
	
	.blog-details-loca {
		margin-left: 0;
	}
	.blog-details-loca h1 {
		font-size: 22px;
	}
	
}
@media screen and (max-width:320px){
	
	.blog-details-loca h1 {
		font-size: 20px;
	}
	.recent-post {
		width: 39%;
	}
	.blog-details-question {
		font-size: 19px;
	}
	
}