.main-head-img img{
	width:100%;
}
.pages-location{
	color: #ffffff;
    position: absolute;
    text-align: center;
	padding:5%;
	margin-left: 38%;
}
.pages-location h4{
    font-weight: bold;
}
.pages-location h1{
    font-weight: bold;
	font-size: 55px;
}
.grid-list {
    margin-top: 55px;
}
.grid-list-line {
    background-clip: content-box;
	background-image: linear-gradient(to right, #cccccc 50%, #cccccc 60%, #cccccc 100%);
    content: "";
    height: 2px;
    width: 100%;
	margin-top: 20px;
}
.pro-list{
	margin-top:55px;
}
.pro-list1{
	margin-top:30px;
}
.product{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.main-product-img  img{
    display: flex;
	height: 367px;
    width: 100%;
}
.main-product-content{
	width: 100%;
}
.main-pro-name{
	float:left;
}
.main-pro-details{
	float: right;
}
.main-price-pro{
	float: right;
	font-weight: bold;
}
.main-size-pro{
	
}
.category-list li{
	float: none;
	list-style-type: none;
}
.filter-list li{
	float: none;
	list-style-type: none;
}
.category-list h3 {
    margin-top: 50px;
	font-weight: bold;
}
.category-list i {
    float: right;
	color:#000000;
}
.all-list-pro{
	color:#f04590;
	font-weight:bold;
}
.category-list h4 {
    margin-top: 30px;
}
.filter-list h4{
	margin-top:30px;
}
.filter-list  h3{
	margin-top:80px;
	font-weight: bold;
}
.filter-list ul{
	padding: 0;
}
.category-list{
	
}
@media screen and (max-width:1310px){
	
	.category-list h4 {
		margin-top: 20px;
		font-size: 16px;
	}
	.filter-list h3 {
		margin-top: 30px;
	}
	.filter-list h4 {
		margin-top: 20px;
		font-size: 16px;
	}
	.main-head-img img {
		height: 200px;
	}
	
}
@media screen and (max-width:1082px){
	
	.pages-location {
		margin-left: 34%;
	}
	.pages-location h1 {
		font-size: 50px;
	}
	.category-list ul{
		padding:0;
	}
	.category-list h4 {
		margin-top: 15px;
		font-size: 15px;
	}
	.category-list h3 {
		font-size: 22px;
	}
	.filter-list h3 {
		font-size: 22px;
	}
	.filter-list h4 {
		margin-top: 15px;
		font-size: 16px;
	}
	.main-pro-name {
		font-size: 15px;
	}
	.main-price-pro {
		font-size: 16px;
	}
	.main-size-pro {
		font-size: 16px;
	}
	.main-product-img  img{
		height: 300px;
	}
	
}
@media screen and (max-width:915px){
	
	.pages-location {
		margin-left: 35%;
	}
	.pages-location h1 {
		font-size: 45px;
	}
	
}
@media screen and (max-width:768px){
	
	.filter-list::before {
		background-clip: border-box;
		background-image: linear-gradient(to bottom, #e88f20 30%, #e3514a 60%, #de1d6c 90%);
		content: "";
		height: 85%;
		margin-left: -20px;
		position: absolute;
		width: 1%;
	}
	
}
@media screen and (max-width:838px){
	
	.pages-location {
		margin-left: 30%;
	}
	.filter-list h3 {
		margin-top: 50px;
	}
	
}
@media screen and (max-width:568px){
	
	.pages-location h4 {
		font-size: 16px;
	}
	.main-head-img img {
		height: 150px;
	}
	.pages-location h1 {
		font-size: 40px;
	}
	.grid-list {
		margin-top: 30px;
	}
	.pro-list {
		margin-top: 40px;
	}
	.main-product-img img {
		height: 225px;
	}
	.main-pro-name {
		font-size: 14px;
	}
	.main-price-pro {
		font-size: 15px;
	}
	.main-size-pro {
		font-size: 15px;
	}
	
}
@media screen and (max-width:375px){
	
	.pages-location h1 {
		font-size: 30px;
	}
	.category-list h3 {
		font-size: 18px;
	}
	.filter-list h3 {
		font-size: 18px;
	}
	.category-list h4 {
		margin-top: 10px;
	}
	.filter-list h4 {
		margin-top: 10px;
	}
	.product-sharp{
		display:none;
	}
	.product {
		width: 50%;
	}
	.pages-location {
		margin-left: 20%;
	}
	
}