
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.eot');
    src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff'),
         url('../fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.eot');
    src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff'),
         url('../fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.eot');
    src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.eot');
    src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff'),
         url('../fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.poppinsbold{
	font-family: 'poppinsbold';
}
.poppinslight{
	font-family: 'poppinslight';
}
.poppinsmedium{
	font-family: 'poppinsmedium';
}
.poppinsregular{
	font-family: 'poppinsregular';
}
.poppinssemibold{
	font-family: 'poppinssemibold';
}
.register-content {
    background: #000000 none repeat scroll 0 0;
}
.dropdown{
	display:none;
}.dropdowns{
	display:none;
}
.our-store-msg h5 {
    color: #ffffff;
}
.menu-register h5 {
    color: #ffffff;
}
.menu-register ul{
	float: right;
	list-style-type: none;
	padding: 0;
}
.menu-register li {
    float: left;
}
h5{
	font-weight: bold;
}
a{
	color:#000000;
}
a:focus, a:hover{
	color:#000000;
	text-decoration: none;
}
.cart-and-search{
	float: right;
}
.msg-welcome{
	top:5px;
}
.menu-list::after {
    background: rgba(0, 0, 0, 0) url("../images/line-of-menu.jpg") no-repeat scroll 0 0 / 100% auto;
    bottom: -5px;
    content: "";
    height: 3px;
    left: 0;
    margin-left: 32%;
    position: absolute;
    width: 23%;
}
.black-line-menu{
	top:5px;
}
.main-product {
    background: #ffffff none repeat scroll 0 0;
}
.main-display-product{
	text-align: center;
}
.main-display-product h3{
	margin:130px 0 0;
}
.process-content{
	margin: 80px 0 0;
}
.Aenean-1 h6 {
    font-size: 14px;
}
.Aenean-2 h6 {
    font-size: 14px;
}
.Aenean-3 h6 {
    font-size: 14px;
}
.more-button{
	text-align: center;
	margin: 50px 0 0;
}
.more-button button {
    background-color: #000000;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 20%;
}
.pink-line{
	background-clip: content-box;
    background-image: linear-gradient(to right, #f6e0e4 100%, #f6e0e4 100%);
    content: "";
    height: 2px;
    text-align: center;
    width: 100%;
	margin: 100px 0 0;
}
.why-the-clothes-loop-img{
	height: 2px;
    margin-top: 5px;
    position: absolute;
    width: 23%;
}
.seal-pro-option {
    margin-top: 40px;
	color: #b5b5b5;
}
.seal-pro-main-head {
    margin-bottom: 0;
    margin-top: 50px;
	background-clip: text;
    background-image: linear-gradient(to right, #e88f20 10%, #e3514a 50%, #de1d6c 60%);
    content: "";
	color:rgba(0, 0, 0, 0);
}
.seal-pro-main-head2 {
    margin: 0;
	background-clip: text;
    background-image: linear-gradient(to right, #e88f20 10%, #e3514a 50%, #de1d6c 60%);
    content: "";
	color:rgba(0, 0, 0, 0);
}
.menu-lists{
	padding: 0;
}
.menu-list a {
    margin: 0 23px 0 0;
}
.menu-list ul {
	list-style-type: none;
}
.menu-list li {
	float:left;
}
.logo-head {
    margin: 40px 0;
}
.logo-content{
	padding:0;
}
.addtocart-font {
    float: right;
    margin: 10px 0 0;
	color: #666666;
}
.product-img2 img {
    height: 100%!;
    width: 100%;
}
.product-1{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.product-2{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	padding: 0;
}
.product-3{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	float: right;
}
.product-4{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.product-5{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	z-index:-1;
}
.product-6{
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	float: right;
}
.price-pro{
	float: right;
	font-weight: bold;
}
.size-pro{
	
}
.our-mission{
	background-color:#f8f8f8;
}
.way-head {
    margin: 130px 0 0;
}
.dolor-head1 {
    background-clip: text;
    background-image: linear-gradient(to right, #e88f20 10%, #e3514a 25%, #de1d6c 35%);
    color: rgba(0, 0, 0, 0);
    content: "";
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 70px;
}
.dolor-head2 {
    background-clip: text;
    background-image: linear-gradient(to right, #e88f20 10%, #e3514a 25%, #de1d6c 35%);
    color: rgba(0, 0, 0, 0);
    content: "";
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}
.our-content{
	margin-top: 50px;
}
.mission-boxs {
    margin-top: 120px;
	text-align: center;
}
.mission-btn {
    text-align: center;
}
.mission-btn button{
	background-color: #000000;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 40%;
	margin-top: 80px;
	margin-bottom: 160px;
}
.testimonial{
	background-image:url(../images/testimonial.jpg);
	background-size: 100% 100%;
}
.testimonial-box{
	border-width:6px;
	border-style:solid;
	border-radius:100%;
	height:135px;
	width:135px;
	text-align:center;
	padding-top:50px;
	margin:0 auto;
	border-color:#ffffff;
	background-color: #ffffff;
	margin: 65px 0 50px;
}
.box1{
	background-image:url("../images/Clothesloop Website-34.jpg");
	background-size: 200px auto;
	background-position: -50px -15px;
	background-color: #ffffff;
}
.sale-p {
    float: left;
    width: 100%;
}
.testimonial-content{
	margin: 65px 0 0;
}
.testimonial-content2{
	margin: 0;
}
.testimonial-sub-content{
	margin: 60px 0 0;
	float: right;
}
.testimonial-font{
	color:#ffffff;
}
.pro-details{
	float: right;
}
.product-img {
    display: flex;
	height: 367px;
    width: 100%;
}
.product-img2 {
    display: flex;
}
.seal-pro {
    margin-top: 45px;
}
.seal-pro2 {
    margin-bottom: 160px;
    margin-top: 50px;
}
.seal-pro-name{
	float:left;
}
.product-content{
	width: 100%;
}
.product-content2 h6{
	font-size: 15px;
    padding: 0 60px;
	margin-top: 55px;
}
.product-content2 h1{
	font-size: 40px;
    font-weight: bold;
}
.product-content2 img{
	margin-top: 40px;
	width:75%;
}
.our-mission-content img{
	margin-top: 40px;
	width:75%;
}
.seal-pro-main {
    position: absolute;
    width: 100%;
	border: 4px solid #000000;
}
.product-img img {
    height: 100%;
    width: 100%;
}
.seal-pro2 img {
    height: 100%;
    width: 100%;
}
.pros-content img {
    height: 100%;
    width: 100%;
}
.pro-sample img {
    height: 100%;
    width: 100%;
}
.explore-button button{
	background-color: #000000;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    margin: 45px 60px;
    padding: 10px;
    width: 50%;
}
.pro-content{
	background-color:#ffffff;
}
.pro-offers-content{
	text-align:center;
}
.pro-offers-content h5{
	margin-top:90px;
}
.pro-offers-content h2{
	font-weight:bold;
}
.offer-pro{
	background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.offer-pro-img{
	display: flex;
	height: 367px;
    width: 100%;
}
.offer-pro-name{
	
}
.offer-pro-details{
	float: right;
}
.price-pro-offer{
	float: right;
	font-weight: bold;
}
.size-pro-offer{
	
}
.pros-content{
	margin-top:85px;
}
.explore-btn{
	text-align:center;
	margin-top: 75px;
}
.explore-btn button{
	background-color: #000000;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 20%;
}
.pink-line2{
	background-clip: content-box;
    background-image: linear-gradient(to right, #f6e0e4 100%, #f6e0e4 100%);
    content: "";
    height: 2px;
    text-align: center;
    width: 100%;
	margin: 80px 0 0;
}
.newsletter{
    background-image: url("../images/girls.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 60px;
	color: #ffffff;
	font-weight: bold;
}
.newsletter-img img {
    opacity: 0.7;
    position: absolute;
}
.newsletter h2 {
    padding-top: 65px;
	text-align: center;
	font-weight: bold;
}
.newsletter h5 {
    text-align: center;
	font-weight: bold;
}
.hit-me-btn{
	background-color: #000000;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 20%;
}
.newsletter input{
	border-radius: 0;
    height: 40px;
}
.newsletter button{
	background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    margin-bottom: 65px;
	margin-left:-12%;
	padding:5px 50px;
}
.email-content{
	margin-top:20px;
}
.footer-content li{
	float:none;
}
.footer-content ul{
	padding:0;
	margin:0;
}
.footer-content h4{
	font-weight:bold;
	margin-bottom:35px;
}
.footer-content img{
	margin-bottom:35px;
}
.instagram-icon{
	
}
.facebook-icon{
	
}
.footer-content h5 {
    font-weight: normal;
}
.footer-content{
	margin-top:100px;
	margin-bottom: 50px;
}
.more-content{
	font-weight:bold;
	font-size: 17px;
}
.info-content{
	text-align: center;
}
.info-content ul{
	padding:0;
	list-style-type: none;
}
.social-content ul{
	padding:0;
	list-style-type: none;
}
.social-content{
	text-align: center;
}
span{
	color:#f04791;
}
.site-email{
	margin-top:0;
}
.site-s-p{
	margin-bottom:0;
}
.lady_image {
    height: 700px;
    margin-top: 292px;
    width: 100%;
}
@media screen and (max-width:1310px){
	
	.explore-button button {
		width: 60%;
	}
	.mission-btn button {
		width: 50%;
	}
	.main-display-product h3 {
		margin: 70px 0 0;
	}
	.pink-line {
		margin: 60px 0 0;
	}
	.seal-pro2 {
		margin-bottom: 80px;
		margin-top: 50px;
	}
	.way-head {
		margin: 80px 0 0;
	}
	.dolor-head1 {
		margin-top: 35px;
	}
	.our-content {
		margin-top: 25px;
	}
	.mission-boxs {
		margin-top: 50px;
	}
	.mission-btn button {
		margin-top: 40px;
		margin-bottom: 100px;
	}
	.lady_image {
		margin-top: 56px;
	}
	.testimonial-content {
		margin: 45px 0 0;
	}
	.testimonial-box {
		margin: 40px 0 50px;
	}
	.pro-offers-content h5 {
		margin-top: 50px;
	}
	.pros-content {
		margin-top: 50px;
	}
	.pro-sample {
		margin-top: 30px;
	}
	.explore-btn {
		margin-top: 40px;
	}
	.pink-line2 {
		margin: 50px 0 0;
	}
	.newsletter {
		margin-top: 35px;
	}
	.newsletter button {
		margin-left: -15%;
		margin-bottom: 40px;
	}
	.newsletter h2 {
		padding-top: 30px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.footer-content {
		margin-bottom: 35px;
		margin-top: 60px;
	}
	.menu-list::after {
		margin-left: 32%;
		width: 23%;
	}

}
@media screen and (max-width:1280px){
	
	.why-the-clothes-loop img {
		width: 28%;
	}
	
}
@media screen and (max-width:1200px){
	.menu-list::after {
		margin-left: 39%;
		width: 28%;
	}
}
@media screen and (max-width:1180px){
	
	.menu-list a {
		font-size: 12px;
		margin: 0 13px 0 0;
	}
	
}
@media screen and (max-width:1082px){
	
	.our-store-msg h5 {
		font-size: 12px;
	}
	.menu-register h5 {
		font-size: 12px;
	}
	.menu-list {
		margin-left: -25px;
	}
	.menu-list::after {
		margin-left: 28%;
		width: 24%;
	}
	.menu-list a {
		font-size: 12px;
		margin: 0 13px 0 0;
	}
	.why-the-clothes-loop img {
		width: 24%;
	}
	.main-display-product h3 {
		font-size: 20px;
		margin: 30px 0 0;
	}
	.main-display-product h1 {
		font-size: 30px;
	}
	.more-button button {
		width: 28%;
	}
	.process-content {
		margin: 60px 0 0;
	}
	.more-button {
		margin: 40px 0 0;
	}
	.pink-line {
		margin: 50px 0 0;
	}
	.product-img {
		height: 320px;
	}
	.seal-pro-name {
		font-size: 15px;
	}
	.price-pro {
		font-size: 15px;
	}
	.size-pro {
		font-size: 15px;
	}
	.seal-pro-option {
		font-size: 12px;
	}
	.product-content2 h1 {
		font-size: 30px;
	}
	.seal-pro-main-head {
		font-size: 35px;
		margin-top: 30px;
	}
	.product-content2 h6 {
		padding: 0 25px;
		margin-top: 50px;
	}
	.explore-button button {
		font-size: 13px;
		width: 65%;
		margin: 60px 0;
		text-align: center;
	}
	.seal-pro2 {
		margin-top: 10px;
		margin-bottom: 45px;
	}
	.way-head {
		font-size: 22px;
		margin: 50px 0 0;
	}
	.dolor-head1 {
		font-size: 36px;
	}
	.dolor-head2 {
		font-size: 36px;
	}
	.our-content {
		font-size: 16px;
	}
	.mission-boxs h4 {
		font-size: 15px;
	}
	.mission-boxs-content{
		padding:0;
	}
	.mission-btn button {
		font-size: 13px;
		margin-bottom: 50px;
		margin-top: 20px;
		width: 55%;
	}
	.lady_image {
		margin-top: 107px;
		height: 500px;
	}
	.testimonial-content {
		font-size: 20px;
	}
	.testimonial-sub-content {
		margin: 40px 0 0;
		font-size: 16px;
	}
	.pro-offers-content h5 {
		margin-top: 30px;
		font-size: 13px;
	}
	.pro-offers-content h2 {
		font-size: 26px;
	}
	.pros-content {
		margin-top: 30px;
	}
	.offer-pro-img {
		height: 265px;
	}
	.offer-pro-name h4{
		font-size: 15px;
	}
	.price-pro-offer {
		margin-top: 10px;
		font-size: 18px;
	}
	.size-pro-offer {
		font-size: 13px;
	}
	.pro-sample {
		margin-top: 20px;
	}
	.explore-btn button {
		font-size: 13px;
		width: 28%;
	}
	.pink-line2 {
		margin: 40px 0 0;
	}
	.newsletter h2 {
		font-size: 24px;
		padding-top: 20px;
	}
	.email-content {
		margin-top: 15px;
	}
	.newsletter input {
		margin-left: -25px;
	}
	.newsletter button {
		margin-left: -36%;
	}
	.footer-content {
		margin-bottom: 25px;
		margin-top: 35px;
	}
	.footer-content img {
		margin-bottom: 30px;
		margin-top: 9px;
	}
	.footer-content h4 {
		margin-bottom: 30px;
		font-size: 16px;
	}
	
}
@media screen and (max-width:1065px){

	.why-the-clothes-loop img {
		width: 32%;
	}
	

}
@media screen and (max-width:990px){

	.menu-list::after {
		margin-left: 36%;
		width: 31%;
	}

}
@media screen and (max-width:913px){
	
	.Aenean-3 {
		margin-left: 0;
		margin-top: 0;
	}
	
	
}
@media screen and (max-width:896px){
	
	.lady_image {
		margin-left: -15px;
	}
	
	
}
@media screen and (max-width:838px){
	
	.menu-lists {
		margin-top: 15px;
		padding: 0 0 0 22%;
	}
	.menu-list a {
		font-size: 14px;
		margin: 0 25px 0 0;
	}
	.menu-lists{
		display:none;
	}
	.dropdowns{
		display:block;
		display: inline-block;
		margin-top: 5%;
		position: relative;
	}
	.dropbtn {
		border: medium none;
		color: #666666;
		cursor: pointer;
		padding: 0;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-top: 5%;
	}
	.dropdown-content {
		display: none;
		min-width: 160px;
		box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
	}
	.close-menu{
		cursor: pointer;
	}
	.dropdown-content a {
		color: black;
		padding: 10px 50px;
		text-decoration: none;
		display: block;
	}
	.dropdown-content a::after{
		border-bottom: 2px dashed #e0e0e0;
		content: "";
		left: 0;
		margin: 29px 0 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	.dd-content a{
		color: #666666;
		font-weight: bold;
	}
	.dropdown a:hover {background-color: #f1f1f1}
	.show {display:block;}
	.addtocart-font i{
		font-size:19px;
	}
	.Aenean-3 {
		margin-left: 0;
		margin-top: 0;
	}
	.mission-boxs {
		margin-top: 0;
	}
	.testimonial-font {
		margin-left: -25px;
	}
	.offer-pro-img {
		height: 367px;
		margin-top: 20px;
	}
	.offer-pro-name h4 {
		font-size: 18px;
	}
	.price-pro-offer {
		font-size: 24px;
	}
	.size-pro-offer {
		font-size: 14px;
	}
	.pro-sample {
		margin-top: 0;
	}
	.newsletter input {
		margin-left: 108px;
	}
	.newsletter button {
		margin-left: 22%;
	}
	.footer-content img {
		margin-left: 25px;
	}
	.footer-logo-content{
		text-align:center;
	}
	.contact-content{
		text-align:center;
		margin-top: 20px;
	}
	.social-content {
		margin-top: 20px;
	}
	
}
@media screen and (max-width:768px){
	
	.seal-pro-main {
		position: relative;
		width: 69%;
	}
	.mission-boxs-content3 {
		margin-left: 25%;
		margin-top: -65px;
	}
	.lady-image-content {
		display: none;
	}
	.mission-boxs-content {
		padding: 50px;
	}
	.mission-btn button {
		margin-top: 0;
		width: 35%;
	}
	
}
@media screen and (max-width:700px){
	
	.more-button button {
		width: 33%;
	}
	.explore-button button {
		font-size: 12px;
		width: 75%;
	}
	.product-img {
		height: 275px;
	}
	.product-content2 h1 {
		font-size: 25px;
	}
	.seal-pro-main-head {
		margin-top: 20px;
	}
	.product-content2 h6 {
		margin-top: 40px;
	}
	.explore-button button {
		margin: 55px 0;
	}
	.mission-boxs-content {
		padding: 30px;
	}
	.mission-boxs-content3 {
		margin-top: -30px;
	}
	.mission-btn button {
		width: 45%;
	}
	.newsletter input {
		margin-left: 75px;
	}
	.newsletter button {
		margin-left: 15%;
	}
	
}
@media screen and (max-width:600px){
	
	.seal-pro-option {
		margin-top: 15px;
		padding: 13px;
	}
	.product-content2 h1 {
		font-size: 22px;
	}
	.explore-button button {
		font-size: 11px;
		width: 86%;
	}
	.mission-btn button {
		width: 50%;
	}
	.explore-btn button {
		font-size: 13px;
		width: 40%;
	}
	.newsletter h2 {
		font-size: 20px;
	}
	.newsletter input {
		margin-left: 50px;
	}
	.newsletter button {
		margin-left: 7%;
	}
	.footer-content h4 {
		font-size: 14px;
	}
	.footer-content h5{
		font-size: 12px;
	}
	
}
@media screen and (max-width:500px){
	
	.main-display-product h3 {
		font-size: 16px;
	}
	.main-display-product h1 {
		font-size: 26px;
	}
	.more-button button {
		width: 45%;
	}
	.way-head {
		font-size: 18px;
	}
	.dolor-head1 {
		font-size: 32px;
	}
	.dolor-head2 {
		font-size: 32px;
	}
	.mission-btn button {
		width: 60%;
	}
	.testimonial-block1 {
		width: 100%;
	}
	.testimonial-block2 {
		width: 100%;
	}
	.testimonial-font {
		margin-left: 0;
	}
	.testimonial-content {
		margin: -33px 0 0;
	}
	.testimonial-sub-content {
		margin: 40px 0 25px;
	}
	.newsletter input {
		margin-left: 30px;
	}
	.newsletter button {
		margin-left: -1%;
	}
	
}
@media screen and (max-width:450px){
	
	.our-store-msg h5 {
		font-size: 11px;
	}
	.menu-register h5 {
		font-size: 11px;
	}
	.logo-content img {
		margin-top: 12px;
	}
	.more-button button {
		width: 50%;
	}
	.way-head {
		font-size: 16px;
	}
	.dolor-head1 {
		font-size: 30px;
	}
	.dolor-head2 {
		font-size: 30px;
	}
	.our-content {
		font-size: 14px;
	}
	.mission-boxs-content {
		padding: 15px;
	}
	.mission-btn button {
		width: 70%;
	}
	.testimonial-content {
		margin: -20px 0 0;
	}
	.offer-pro-img {
		height: 260px;
	}
	.offer-pro-name h4 {
		font-size: 15px;
	}
	.price-pro-offer {
		font-size: 18px;
	}
	.size-pro-offer {
		font-size: 13px;
	}
	.explore-btn button {
		width: 50%;
	}
	.newsletter input {
		margin-left: 20px;
	}
	.newsletter button {
		margin-left: -7%;
	}
	
}
@media screen and (max-width:375px){
	
	.Aenean-1 h5{
		font-size:13px;
	}
	.Aenean-2 h5{
		font-size:13px;
	}
	.Aenean-3 h5{
		font-size:13px;
	}
	.mission-boxs-content {
		padding: 0;
	}
	.more-button button {
		width: 60%;
	}
	.dolor-head1 {
		font-size: 25px;
	}
	.dolor-head2 {
		font-size: 25px;
	}
	.mission-boxs-content3 {
		margin-top: 5px;
	}
	.mission-btn button {
		margin-top: 15px;
		width: 80%;
	}
	.explore-btn button {
		width: 55%;
	}
	.input-box{
		width: 90%;
	}
	.button-box{
		width: 60%;
		margin-left: 85px;
		margin-top: 25px;
	}
	.msg-welcome {
		display: none;
	}
	.black-line-menu {
		width: 100%;
	}
	.menu-register h5 {
		font-size: 14px;
	}
	.footer-logo-content {
		width: 100%;
	}
	.footer-content img {
		margin-left: 0;
	}
	.footer-content h5 {
		font-size: 14px;
	}
	.info-content {
		width: 100%;
	}
	.info-content::before {
		border-top: 2px solid #cccccc;
		content: "";
		margin: 0 0 0 -155px;
		position: absolute;
		width: 90%;
	}
	.social-content {
		width: 100%;
	}
	.social-content::before {
		border-top: 2px solid #cccccc;
		content: "";
		margin: 0 0 0 -155px;
		position: absolute;
		width: 90%;
	}
	.contact-content {
		width: 100%;
	}
	.contact-content::before {
		border-top: 2px solid #cccccc;
		content: "";
		margin: 0 0 0 -155px;
		position: absolute;
		width: 90%;
	}
	
	
}
@media screen and (max-width:320px){
	
	.main-display-product h3 {
		font-size: 14px;
	}
	.main-display-product h1 {
		font-size: 22px;
	}
	.more-button button {
		width: 70%;
	}
	.mission-btn button {
		width: 90%;
	}
	.testimonial-content {
		margin: -20px 0 0 15px;
	}
	.testimonial-sub-content {
		margin: 40px 0 25px 15px;
	}
	.explore-btn button {
		width: 65%;
	}
	.button-box {
		margin-left: 60px;
		margin-top: 20px;
		width: 67%;
	}
	.info-content::before {
		margin: 0 0 0 -130px;
	}
	.social-content::before {
		margin: 0 0 0 -130px;
	}
	.contact-content::before {
		margin: 0 0 0 -130px;
	}
	
}