.how-it-works-img img{
	width:100%;
}
.how-it-works-loca{
	color: #ffffff;
    position: absolute;
    text-align: center;
	margin-top:4%;
}
.how-it-works-loca h4{
    font-weight: bold;
}
.how-it-works-loca h1{
    font-weight: bold;
	font-size: 55px;
}
.how-it-works-content img {
    margin-top: 28%;
	margin-left: 35%;
}
.how-it-works-content {
    padding: 100px;
}
.how-it-works-content h5 {
    font-weight:normal;
}
.how-it-works-content2 h5 {
    font-weight:normal;
}
.faq-line{
	background-clip: content-box;
	background-image: linear-gradient(to right, #cccccc 50%, #cccccc 60%, #cccccc 100%);
    content: "";
    height: 2px;
    width: 100%;
	margin-top: 20px;
}
.how-it-works-content h3{
	font-weight:bold;
}
.faq-content{
	font-weight:bold;
}
.process-logo-1 {
	margin-top:50px;
}
.process-step-1 h3{
	margin-top:50px;
}
.process-step-1 h5{
	margin-top:30px;
}
.process-logo-2{
	margin-top:40px;
}
.process-step-2 h3{
	margin-top:40px;
}
.process-step-2 h5{
	margin-top:30px;
}
.process-logo-3{
	margin-top:50px;
}
.process-step-3 h3{
	margin-top:50px;
}
.process-step-3 h5{
	margin-top:30px;
}
.process-logo-4{
	margin-top:80px;
}
.process-step-4 h3{
	margin-top:80px;
}
.process-step-4 h5{
	margin-top:30px;
}
.process-logo-5{
	margin-top:50px;
}
.process-step-5 h3{
	margin-top:50px;
}
.process-step-5 h5{
	margin-top:30px;
}
.faq-question-1{
	margin-top:40px;
}
.faq-question-2{
	margin-top:55px;
}
.faq-question-3{
	margin-top:45px;
}
.faq-question-4{
	margin-top:55px;
}
.faq-question-5{
	margin-top:55px;
}
.faq-question-6{
	margin-top:55px;
}
.faq-answer{
	margin-top:25px;
}
@media screen and (max-width:1310px){
	.how-it-works-loca h4 {
		font-size: 18px;
	}
	.how-it-works-loca h1
	{
		font-size: 38px;
		margin-top: 10px;
	}
	
	.how-it-works-img img {
		-height: 200px;
	}
	
}
@media screen and (max-width:1082px){
	.how-it-works-loca h4 {
		font-size: 18px;
	}
	.how-it-works-loca h1
	{
		font-size: 38px;
		margin-top: 10px;
	}
	
	.how-it-works-content {
		padding: 40px;
	}
	
}
@media screen and (max-width:980px){
	
	.how-it-works-content {
		padding: 20px;
	}
	.how-it-works-loca h4 {
		font-size: 15px;
	}
	.how-it-works-loca h1
	{
		font-size: 27px;
		margin-top: 10px;
	}
	
}
@media screen and (max-width:838px){
	.how-it-works-loca h4 {
		font-size: 15px;
	}
	.how-it-works-loca h1
	{
		font-size: 22px;
		margin-top: 10px;
	}
	
	.process-step-1 h3 {
		margin-top: 40px;
	}
	.process-step-1 h5 {
		margin-top: 20px;
	}
	.process-step-2 h3 {
		margin-top: 40px;
	}
	.process-step-2 h5 {
		margin-top: 20px;
	}
	.process-step-3 h3 {
		margin-top: 40px;
	}
	.process-step-3 h5 {
		margin-top: 20px;
	}
	.process-step-4 h3 {
		margin-top: 40px;
	}
	.process-step-4 h5 {
		margin-top: 20px;
	}
	.process-step-5 h3 {
		margin-top: 40px;
	}
	.process-step-5 h5 {
		margin-top: 20px;
	}
	.faq-question-2 {
    margin-top: 40px;
	}
	.faq-question-3 {
		margin-top: 40px;
	}
	.faq-question-4 {
		margin-top: 40px;
	}
	.faq-question-5 {
		margin-top: 40px;
	}
	.faq-question-6 {
		margin-top: 40px;
	}
	
}
@media screen and (max-width:768px){
	.how-it-works-loca h4 {
		font-size: 15px;
	}
	.how-it-works-loca h1
	{
		font-size: 20px;
		margin-top: 10px;
	}
	.process-logo-1 {
		margin-top: -150px;
	}
	.process-logo-2 {
		margin-top: -150px;
	}
	.process-logo-3 {
		margin-top: -150px;
	}
	.process-logo-4 {
		margin-top: -150px;
	}
	.process-logo-5 {
		margin-top: -150px;
	}
	
}
@media screen and (max-width:668px){
	
	.how-it-works-loca h4 {
		font-size: 14px;
	}
	.how-it-works-loca h1
	{
		font-size: 20px;
		margin-top: 10px;
	}
	
}
@media screen and (max-width:568px){
	.how-it-works-loca h4 {
		font-size: 14px;
	}
	.how-it-works-loca h1
	{
		font-size: 18px;
		margin-top: 10px;
	}
	
	
	.process-logo-1 {
		margin-top: -100px;
	}
	.process-logo-2 {
		margin-top: -100px;
	}
	.process-logo-3 {
		margin-top: -100px;
	}
	.process-logo-4 {
		margin-top: -100px;
	}
	.process-logo-5 {
		margin-top: -100px;
	}
	
}
@media screen and (max-width:468px){
	
	.how-it-works-loca h4 {
		font-size: 12px;
	}
	.how-it-works-loca h1
	{
		font-size: 16px;
		margin-top: 10px;
	}
	.how-it-works-loca
	{
		margin-top:0%;
	}
	.how-it-works-content h5{
		text-align:justify;
	}
	.process-logo-1 {
		margin-top: -80px;
	}
	.process-logo-2 {
		margin-top: -80px;
	}
	.process-logo-3 {
		margin-top: -80px;
	}
	.process-logo-4 {
		margin-top: -80px;
	}
	.process-logo-5 {
		margin-top: -80px;
	}
	.how-it-works-content2 h5{
		text-align:justify;
	}
	
}
@media screen and (max-width:375px){
	.how-it-works-loca h4 {
		font-size: 12px;
	}
	.how-it-works-loca h1
	{
		font-size: 16px;
		margin-top: 10px;
	}
	.how-it-works-loca
	{
		margin-top:0%;
	}
	.process-logo-1 {
		margin-top: -60px;
	}
	.process-logo-2 {
		margin-top: -60px;
	}
	.process-logo-3 {
		margin-top: -60px;
	}
	.process-logo-4 {
		margin-top: -60px;
	}
	.process-logo-5 {
		margin-top: -60px;
	}
	.how-it-works-content h3 {
		font-size: 20px;
	}
	
}