.why-clothes-img img{
	width:100%;
}
.why-clothes-loca{
	color: #ffffff;
    position: absolute;
    text-align: center;
	margin-top:4%;
}
.why-clothes-loca h4{
    font-weight: bold;
}
.why-clothes-loca h1{
    font-weight: bold;
	font-size: 55px;
}
.online-main-store{
	padding:25px;
}
.online-store-content{
	background-color:#f3f3f3;
}
.online-store-content h5{
	font-weight:normal;
}
.online-store-img{
	margin-top:65px;
	margin-bottom: 75px;
}
.online-store-head1{
	margin-top:170px;
}
.online-store-head2{
	font-weight: bold;
	margin-top:45px;
}
.online-store-content1{
	margin-top:60px;
}
.online-store-content2{
	margin-top:25px;
}
.history-clothes{
	background-color:#ffffff;
}
.history-clothes h5{
	font-weight:normal;
}
.history-clothes-img{
	margin-top: 100px;
	margin-bottom: 90px;
}
.history-clothes-img img{
	width:70%;
}
.history-clothes-head{
	font-weight:bold;
	margin-top: 90px;
}
.history-clothes-content1{
	margin-top: 60px;
}
.history-clothes-content2{
	margin-top: 25px;
}
.helpers-content{
	background-color:#f3f3f3;
}
.helpers-head{
	margin-top:70px;
	font-weight:bold;
	text-align:center;
}
.advantage-box{
	background-color: #ffffff;
    border-color: #fcd40a;
    border-radius: 100%;
    border-style: solid;
    border-width: 0;
    height: 270px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: 270px;
}
.social-box{
	background:url("../images/flat-faces-icons-circle-3.png");
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.editing-box{
	background:url("../images/flat-faces-icons-circle-4.png");
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.template-box{
	background:url("../images/ogretmen.png");
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.import-photo{
	text-align:center;
	padding-top:25px;
	font-weight: bold;
}
.photo-editing{
	text-align:center;
	padding-top:25px;
	font-weight: bold;
}
.templates{
	text-align:center;
	padding-top:25px;
	font-weight: bold;
}
.box-head{
	text-align:center;
	padding-top:25px;
	padding: 55px;
}
.advantage-bottom{
	margin-top:80px;
}
@media screen and (max-width:1310px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 18px;
	}
	.why-clothes-loca h1
	{
		font-size: 45px;
		margin-top: 10px;
	}	
	.why-clothes-img img {
		-height: 200px;
	}
	
}
@media screen and (max-width:1082px){
	
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 18px;
	}
	.why-clothes-loca h1
	{
		font-size: 45px;
		margin-top: 10px;
	}	
	.online-store-head1 {
		margin-top: 50px;
		font-size: 20px;
	}
	.online-store-head2 {
		margin-top: 25px;
	}
	.online-store-content1 {
		margin-top: 30px;
	}
	.online-store-img {
		margin-bottom: 0;
		margin-top: 150px;
	}
	.history-clothes-head {
		margin-top: 45px;
	}
	.history-clothes-content1 {
		margin-top: 30px;
	}
	.history-clothes-content2 {
		margin-bottom: 25px;
	}
	.history-clothes-img img {
		width: 80%;
	}
	.history-clothes-img {
		margin-top: 150px;
	}
	.helpers-head {
		margin-top: 35px;
	}
	.advantage-box {
		height: 200px;
		width: 200px;
	}
	.import-photo {
		font-size: 16px;
	}
	.box-head {
		padding: 10px;
	}
	.advantage-bottom {
		margin-bottom: 25px;
		margin-top: 40px;
	}
	
}
@media screen and (max-width:980px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 18px;
	}
	.why-clothes-loca h1
	{
		font-size: 40px;
		margin-top: 10px;
	}	
	
}
@media screen and (max-width:800px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 18px;
	}
	.why-clothes-loca h1
	{
		font-size: 34px;
		margin-top: 10px;
	}	
	
	.online-store-head2 {
		font-size: 22px;
	}
	.history-clothes-head {
		font-size: 22px;
	}
	.online-store-head1 {
		margin-top: 25px;
	}
	.online-store-img {
		margin-top: 130px;
	}
	.advantage-bottom {
		margin-top: 5px;
	}
	
}
@media screen and (max-width:768px){
	
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 18px;
	}
	.why-clothes-loca h1
	{
		font-size: 34px;
		margin-top: 10px;
	}	
	.why-clothes-loca
	{
		margin-top:3%;
	}
	.online-store-content h5 {
		text-align: justify;
	}
	.history-clothes h5 {
		text-align: justify;
	}
	
}
@media screen and (max-width:668px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 16px;
	}
	.why-clothes-loca h1
	{
		font-size: 26px;
		margin-top: 10px;
	}	
}
@media screen and (max-width:568px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 14px;
	}
	.why-clothes-loca h1
	{
		font-size: 20px;
		margin-top: 10px;
	}
	.why-clothes-loca
	{
		margin-top:2%;
	}
	
	.online-store-content2 {
		display: none;
	}
	.history-clothes-content2 {
		display: none;
	}
	.advantage-bottom {
		margin-top: 30px;
	}
	.why-clothes-img img {
		-height: 150px;
	}
	
}
@media screen and (max-width:468px){
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 12px;
	}
	.why-clothes-loca h1
	{
		font-size: 16px;
		margin-top: 10px;
	}
	.why-clothes-loca
	{
		margin-top:2%;
	}
	.online-store-img {
		display: none;
	}
	.online-main-store {
		width: 100%;
	}
	.online-store-content2 {
		display: block;
	}
	.history-clothes-img {
		display: none;
	}
	.history-clothes-content{
		width: 100%;
	}
	.history-clothes-content2 {
		display: block;
	}
	.helpers-head {
		font-size: 18px;
	}
	.advantage-box {
		height: 150px;
		width: 150px;
	}
	.box-head {
		padding: 5px;
	}
	
}
@media screen and (max-width:375px){
	
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 12px;
	}
	.why-clothes-loca h1
	{
		font-size: 14px;
		margin-top: 10px;
	}
	.advantage-bottom {
		width: 100%;
	}
	.why-clothes-loca
	{
		margin-top:1%;
	}
	
}
@media screen and (max-width:360px){
	
	.why-clothes-loca h4
	{
		font-weight: bold;
		font-size: 12px;
	}
	.why-clothes-loca h1
	{
		font-size: 14px;
		margin-top: 10px;
	}
	.online-store-head2 {
		font-size: 20px;
	}
	.why-clothes-loca
	{
		margin-top:0%;
	}
	
}
@media screen and (max-width:320px){
	
	.why-clothes-loca h1 {
		font-size: 22px;
	}
	
}